---
import { Image } from 'astro:assets';
import logo from './logo.webp';

const links = [
  {
    href: 'works',
    className: 'material-icons-outlined',
    text: 'work_outline',
  },
  { href: 'profile', className: 'material-icons', text: 'face' },
  { href: 'blog', className: 'material-icons-outlined', text: 'article' },
  { href: 'contact', className: 'material-icons-outlined', text: 'mail' },
];
---

<header>
  <a href="/portfolio">
    <Image class="logo" src={logo} alt="logo" />
  </a>
  <ul>
    {
      links.map((link) => (
        <li>
          <a href={`/portfolio/${link.href}`}>
            <i class={link.className}>{link.text}</i>
          </a>
        </li>
      ))
    }
  </ul>
</header>

<style lang="scss">
  header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: map-get($colors, 'white');
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);

    @media (width <= 768px) {
      top: -5rem;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  .logo {
    max-width: 150px;
    height: auto;
  }

  ul {
    display: flex;
    gap: 1rem;

    a {
      color: map-get($colors, 'black');
    }
  }
</style>
